
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Gruppo&family=Nova+Square&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}
body {
  /* font-family: "Roboto", sans-serif; */
  font-family: "Gruppo", sans-serif;
  background-color: #f8f8f8;
}
/*------------global-----------*/
.container {
  max-width: 85%;
  margin: auto;
}

.flexSB {
  display: flex;
  justify-content: space-between;
}

.flexSB a {
  text-decoration: none;
}
.flexSB li {
  list-style-type: none;
}
.row {
  width: 50%;
}
.flexSB button {
  z-index: 11111;
  padding: 15px 30px;
  background-color: #000000;
  color: #ffffff;
  font-weight: 600;
  border: none;
  margin: 30px 10px 0 0;
  border-radius: 3px;
  cursor: pointer;
  box-shadow: 0 24px 36px -11px rgb(0 0 0 / 9%);
  transition: 0.5s;
}
.flexSB button i {
  margin-left: 20px;
}
.flexSB button:hover {
  box-shadow: none;
}
.primary-btn {
  background-color: #000000;
  color: #fff;
}
