@import url("https://fonts.googleapis.com/css2?family=Nova+Square&display=swap");

.section-hero {
  /* background-image: url("https://img.freepik.com/free-vector/black-background-with-focus-spot-light_1017-27230.jpg?w=1380&t=st=1705779118~exp=1705779718~hmac=8a716f51d7d27fe6e7876fff28144d082401e816d2725cbbe6b0f5fc372c52dd"); */
  /* background-color: #34056c; */
  background: radial-gradient(circle at 10% 20%, rgb(0, 0, 0) 0%, rgb(64, 64, 64) 90.2%);

  /* background-image: url("/images/bg.jpeg"); */
  background-repeat: no-repeat;
  background-size: 100vw 80vh;
}

.hero {
  font-family: "Gruppo", sans-serif;

  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-text-box {
  margin: 2rem;
  padding: 6rem;
}

.heading-primary {
  font-size: 4.2rem;
  color: #ffffff;
  font-weight: 700;
  letter-spacing: -0.5px;
  line-height: 1.05;
  margin-bottom: 3.6rem;
}

.hero-description {
  color: #ffffff;
  font-size: 2rem;
  margin-bottom: 4.8rem;
}

.hero-img {
  margin: 3rem;
  width: 600px;
}

.btn:link,
.btn:visited {
  display: inline-block;
  font-size: 1rem;
  font-weight: 600;
  font-family: inherit;
  border: none;
  cursor: pointer;
  border-radius: 9px;
  padding: 1.6rem 3.2rem;
  text-decoration: none;

  transition: background-color 500ms;
}

.btn--fill:link,
.btn--fill:visited {
  background-color: #5a5858;
  color: #fff;
}

.btn--outline:link,
.btn--outline:visited {
  color: #555;
  background-color: #fff;
}

.btn--fill:hover,
.btn--fill:active {
  background-color: #000000;
  text-decoration: underline;
}

.btn--outline:hover,
.btn--outline:active {
  background-color: #fdf2e9;
  box-shadow: inset 0px 0px 0px 3px #fff;
  text-decoration: underline;
}

.margin-right-btn {
  margin-right: 2.4rem;
}

@media only screen and (max-width: 1300px) {
  .hero {
    flex-direction: column;
    text-align: center;
  }

  .hero-img {
    width: 100%;
    margin: 2rem 0;
  }

  .hero-text-box {
    margin: 2rem 0;
    padding: 2rem;
  }

  .heading-primary {
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  .hero-description {
    font-size: 1rem;
    margin-bottom: 3rem;
  }

  .btn {
    width: 100%;
    margin-bottom: 1rem;
  }

  .margin-right-btn {
    margin-right: 0;
  }
}
